# Dear Programmers,

# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
# *                                                 *
# *	This file belongs to Kevin Veros Hamonangan     *
# *	and	Fandi Fladimir Dachi and is a part of       *
# *	our	last project as the student of Del          *
# *	Institute of Technology, Sitoluama.             *
# *	Please contact us via Instagram:                *
# *	sleepingnext and fandi_dachi                    *
# *	before copying this file.                       *
# *	Thank you, buddy. 😊                            *
# *                                                 *
# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

MICRO_SERVICE_NAME=
MICRO_SERVICE_PORT=

POSTGRES_HOST=
POSTGRES_PORT=
POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_DBNAME=